header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 7px #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    padding-left: 10px;

}

.app-title{
    line-height: 50px;
}

.checkbox{
    padding: 5px;
    line-height: 50px;

}
@media only screen and (max-width: 1000px) {
    header{
        
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        background: whitesmoke
    }
}